<div class="container">
  <% @musics.each do |music| %>
  <div>
    <%= image_tag music.image, size: "350x350" %>
  </div>
  <div>
     <p>コメント</p>
  <span><%= music.explanation %></span>
  <% end %>
  </div>
</div>