
<div class="container">
  <div class="row scroll01">
      <% @musics.each do |music| %>
      <%= link_to music_path(music.id) do %>
      <%= image_tag music.image, size: "200x200", class: "rounded mx-auto d-block" %>
      <% end %>
      <h3 class="text-center"><strong><%= music.name %></strong></h3>
      <% end %>
  </div>
</div>
  