<div class="container">
  <div class="row">
  <% @musics.each do |music| %>
  <div class="col">
    <%= link_to music_path(music.id) do %>
    <%= image_tag music.image, size: "200x200" %>
    <% end %>
  <div class="text-center">
   <p>コメント</p></br>
   <%= music.explanation %>
  </div>
 </div>
  <% end %>
 </div>
</div>