<div class="container">
  <div class="d-flex justify-content-between my-4">
    <h2 class="bg-light text-center h-auto col-2">会員一覧</h2>
  </div>
  <table class="table">
    <thead class="bg-light">
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each do |user| %>
      <tr>
        <td class="align-middle">
          <%= link_to admin_user_path(user.id) do %>
          <%= user.user_name %>
          <% end %>
        </td>

        <td class="align-middle"><%= user.email %></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

