<div class="container">
  <div class="d-flex justify-content-between my-4">
    <h2 class="bg-light text-center h-auto col-2">会員一覧</h2>
  </div>
  <table class="table">
    <thead class="bg-light">
      <tr>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <tbody>

      <% @users.each do |user| %>
      <tr>
        <td class="align-middle">
          <%= link_to admin_customer_path(customer.id) do %>
          <%= customer.last_name %><%= customer.first_name %>
          <% end %>
        </td>

        <td class="align-middle"><%= customer.email %></td>
        <td class="align-middle">
          <% if !customer.is_withdrawal %>
          <p class="text-success">有効</p>
           <% else %>
          <p class="text-muted">退会</p>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

