<div class="container">
  <div class="row">
  <% @albums.each do |album| %>
  <%= Music.find(album.music_id).user.user_name %>
  <%= Music.find(album.music_id).name %>
  <%= image_tag Music.find(album.music_id).image, size: "100x100" %>
  <% end %>
 </div>
</div> 

