<div class="container">
  <div class="text-center">
    <h4>ユーザーネーム</h4>
    <div class="m-3"><strong><%= @user.user_name %></strong></div>
   </div>
     <div class="text-center">
       <% @comments.each do |comment| %>
       <div class="alert alert-info" role="alert">
        <p class="text-break"><%= comment.comment_content %></p>
         <%= link_to "管理者用削除", music_comment_path(id: comment.id, music_id: comment.music_id), method: :delete , class: "btn btn-outline-danger"%>
       </div>
       <% end %>
     </div>
</div>