<div class="container text-center" style="margin-top:150px">
  <div class="justify-content-around align-items-center row mt-4">
    <h2><strong>本当に退会しますか？</strong></h2>
  </div>

  <div class="justify-content-around row mt-4">
    <p>
      退会すると、会員登録情報や<br>
      これまでの楽曲データがなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </p>
  </div>

  <div class="justify-content-center row mt-4">
      <div class="d-flex justify-content-between align-items-center col-3">
        <p><%= link_to "退会する", users_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか?", class: "btn btn-danger" %></p>
      </div>
  </div>
</div>